.App {
  font-family: sans-serif;
  text-align: center;
}
.header {
  display: flex;
}
.header_section {
  padding: 2px;
  border: 1px solid black;
  cursor: pointer;
}
.tab_body {
  display: flex;
  margin-top: 20px;
  border: 2px solid black;
  padding: 5px;
  height: 150px;
}
